@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'thsarabun', sans-serif !important; /* ใช้ฟอนต์ TH Sarabun */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #fafafa00;
}

::selection {
  background-color: #000066; /* สีพื้นหลังเมื่อเลือกข้อความ */
  color: #ffffff; /* สีข้อความเมื่อเลือก */
}

.scrollbar-custom {
  scrollbar-width: thin;
  /* สำหรับ Firefox */
  scrollbar-color: #ffffff #000066;
  /* สี Scrollbar และพื้นหลัง */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
  /* ความกว้างของ Scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #000066;
  /* สีพื้นหลังของ Scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* สีของ Scrollbar */
  border-radius: 10px;
  /* มุมโค้งมน */
  border: 2px solid #000066;
  /* ขอบรอบ Scrollbar */
}

.input-custom {
  border: 1px solid black; /* ขอบสีดำ */
  background-color: transparent; /* พื้นหลังโปร่งใส */
  color: black; /* สีตัวอักษร */
  padding: 8px 12px; /* ระยะห่างภายใน */
  border-radius: 15px; /* ขอบโค้งมน */
  font-size: 14px; /* ขนาดตัวอักษร */
  outline: none; /* ลบเส้นขอบเมื่อโฟกัส */
  transition: border-color 0.3s, box-shadow 0.3s; /* เพิ่มเอฟเฟกต์เมื่อโฟกัส */
  width: 100%;
}

.input-custom:focus {
  border-color: #000066; /* เปลี่ยนสีขอบเมื่อโฟกัส */
  box-shadow: 0 0 5px rgba(0, 0, 102, 0.5); /* เพิ่มเงาเมื่อโฟกัส */
}